.gallery-page {
  --gallery-width: 100vw;
  --gallery-height: 100vh;
  --gallery-padding: 6rem 2rem 2rem 2rem;
  --bg-gradient-clr-1: #ebf3fc;
  --bg-gradient-clr-2: #fff;
  --bg-gradient-stroke: 1.2px;
  --bg-size: 110px;

  background-color: var(--bg-gradient-clr-2);
  background-image: linear-gradient(
      var(--bg-gradient-clr-1) var(--bg-gradient-stroke),
      transparent var(--bg-gradient-stroke)
    ),
    linear-gradient(
      to right,
      var(--bg-gradient-clr-1) var(--bg-gradient-stroke),
      var(--bg-gradient-clr-2) var(--bg-gradient-stroke)
    );
  background-size: var(--bg-size) var(--bg-size);
  background-attachment: fixed;

  min-height: var(--gallery-height);
  padding: var(--gallery-padding);
  width: var(--gallery-width);
}

.gallery-page--title {
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.gallery-page--grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
}

@media screen and (max-width: 1000px) {
  .gallery-page {
    background-size: 16px 16px;
  }

  .gallery-page--grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-content: center;
  }
}
