:root {
  --product-card-info-padding: 1rem 0 0;
}

.product-card {
  position: relative;
  transition: filter 0.3s ease;
  width: 100%;
}

.product-card a {
  text-decoration: none;
  color: inherit;
}

.product-card--media {
  overflow: hidden;
  transition: border-radius 0.3s cubic-bezier(0.6, 0.1, 0.1, 0.74);
}

.product-card:hover .product-card--media {
  border-radius: .5rem;
}

.product-card--media img {
  aspect-ratio: 9 / 16;
  border: 0;
  display: block;
  object-fit: cover;
  transition: scale 0.3s ease;
  width: 100%;
}

.product-card:hover .product-card--media img {
  scale: 1.2;
}

.product-card--info {
  bottom: 1rem;
  left: 1rem;
  padding: var(--product-card-info-padding);
  position: absolute;
  width: calc(100% - 2rem);
}

.product-card--info h3 {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 500;
  scale: 1;
  transition: scale 0.2s ease-in-out;
  transform-origin: left center;
}

.product-card:hover .product-card--info h3 {
  scale: 1.2;
  font-weight: 700;
}