:root {
  --navbar-padding: 0.2rem 1rem;
  --navbar-color: black;
  --btn-width: 60px;
  --btn-span-width: 1rem;
  --btn-span-height: 2px;
  --btn-span-space-h: 15%;
  --btn-span-space-v: 6%;
  --btn-span-color: black;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  align-items: center;
  padding: var(--navbar-padding);
  color: var(--navbar-color);
  z-index: 10;
  transition: color 0.3s ease-in-out;
}

.navbar::before {
  content: "";
  position: absolute;
  top: -105%;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  transition: top 0.2s cubic-bezier(0.5, 0, 0.5, 1);
  z-index: -1;
}

.navbar:hover,
.navbar[data-active="true"] {
  --btn-span-color: white;
  --navbar-color: white;
}

.navbar:hover::before,
.navbar[data-active="true"]::before {
  top: 0%;
}

.navbar--logo a {
  text-decoration: none;
  color: var(--navbar-color);
  transition: color 0.3s ease-in-out;
}

.navbar--logo h2 {
  margin-left: 0.5rem;
  font-family: var(--cormorant-font);
  font-size: 32px;
}

.navbar--actions {
  display: flex;
  gap: 1rem;
}

.navbar--actions button {
  border: 0;
  background: none;
  padding: 0.5rem;
  color: var(--navbar-color);
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.login:hover {
  color: var(--yellow-500);
}

.navbar-menu--btn {
  position: relative;
  width: var(--btn-width);
  aspect-ratio: 1/1;
  border: 0;
  background: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.navbar-menu--btn span {
  position: absolute;
  display: block;
  width: var(--btn-span-width);
  height: var(--btn-span-height);
  background: var(--btn-span-color);
  top: 50%;
  translate: 0% -50%;
  transform-origin: center;
  transition: all 0.3s ease-in-out;
}

/* left spans */
.navbar-menu--btn span:nth-child(1),
.navbar-menu--btn span:nth-child(2) {
  left: var(--btn-span-space-h);
}

/* right spans */
.navbar-menu--btn span:nth-child(3),
.navbar-menu--btn span:nth-child(4) {
  right: var(--btn-span-space-h);
}

/* vertical position span */
.navbar-menu--btn span:nth-child(1) {
  top: calc(50% - 6%);
}

.navbar-menu--btn span:nth-child(4) {
  top: calc(50% + 6%);
}

/* Hover */
.navbar-menu--btn:hover span {
  background: var(--yellow-500);
}

.navbar-menu--btn[data-active="true"] span,
.navbar-menu--btn:hover span {
  scale: 0.8 1;
}

.navbar-menu--btn[data-active="true"] span:nth-child(1),
.navbar-menu--btn:hover span:nth-child(1) {
  left: 50%;
  translate: -50% -50%;
}

.navbar-menu--btn[data-active="true"] span:nth-child(2),
.navbar-menu--btn:hover span:nth-child(2) {
  left: calc(var(--btn-span-space-h) - 5%);
}

.navbar-menu--btn[data-active="true"] span:nth-child(4),
.navbar-menu--btn:hover span:nth-child(4) {
  right: 50%;
  translate: 50% -50%;
}

.navbar-menu--btn[data-active="true"] span:nth-child(3),
.navbar-menu--btn:hover span:nth-child(3) {
  right: calc(var(--btn-span-space-h) - 5%);
}

/* Active */
.navbar-menu--btn[data-active="true"]:not(:hover) span:nth-child(1),
.navbar-menu--btn[data-active="true"]:not(:hover) span:nth-child(4) {
  scale: 1.5 1;
}

.navbar-menu--btn[data-active="true"]:not(:hover) span:nth-child(2) {
  transform-origin: left;
  scale: 0.5 1;
}

.navbar-menu--btn[data-active="true"]:not(:hover) span:nth-child(3) {
  transform-origin: right;
  scale: 0.5 1;
}
