.homepage {
  --homepage-padding: 6rem 2rem 2rem 2rem;
  --bg-gradient-clr-1: #ebf3fc;
  --bg-gradient-clr-2: #fff;
  --bg-gradient-stroke: 1.2px;
  --bg-size: 110px;

  background-color: var(--bg-gradient-clr-2);
  background-image: linear-gradient(
      var(--bg-gradient-clr-1) var(--bg-gradient-stroke),
      transparent var(--bg-gradient-stroke)
    ),
    linear-gradient(
      to right,
      var(--bg-gradient-clr-1) var(--bg-gradient-stroke),
      var(--bg-gradient-clr-2) var(--bg-gradient-stroke)
    );
  background-size: var(--bg-size) var(--bg-size);
  background-attachment: fixed;
  padding: var(--homepage-padding);
}

.homepage--grid {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  column-gap: 3rem;
  row-gap: 3rem;
}

@media screen and (max-width: 1000px) {
  .homepage {
    background-size: 16px 16px;
  }

  .homepage--grid {
    grid-template-columns: repeat(2, minmax(0, 1fr));
    align-content: center;

    & .homepage--grid-item:nth-child(2n + 3) {
      grid-column: 1 / span 2;
    }
  }
}
